---
import Button from "~/components/common/Button.astro";
---

<Button
  theme={"default"}
  round={true}
  href={"https://data-engine.staging.hiailabs.com/"}
>
  Launch APP
  <svg
    class="icon"
    viewBox="0 0 1024 1024"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    p-id="4186"
    width="256"
    height="256"
    ><path
      d="M682.837333 401.664l-367.232 367.232-60.330666-60.330667L622.506667 341.333333H298.837333V256h469.333334v469.333333h-85.333334V401.664z"
      fill="currentColor"
      p-id="4187"></path></svg
  >
</Button>

<style lang="scss">
  svg {
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin-top: 0.6rem;
    margin-left: 0.2rem;
  }
</style>
