---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

const metadata = {
  title:
    "HIAI",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: "~/assets/images/hiai-hero.png",
      alt: "AstroWind Hero Image",
    }}
  >
    <Fragment slot="title">
      HIAI 
    </Fragment>

    <Fragment slot="subtitle">
      Empowering Human Intelligence to Build, Guide and Harness Artificial Intelligence.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="What you will do with HiAi"
    subtitle="[placeholder]"
    items={[
      {
        title: "Complete Quests",
        description:
          "Engage in quests such as labeling data for AI training, offering opinions for AI evaluation, AI safety, and more.",
        icon: "tabler:target",
      },
      {
        title: "Earn Crypto",
        description:
          "Earn NFTs and cryptocurrency from quests based on the quality of your response.",
        icon: "tabler:wallet",
      },
      {
        title: "Level Up",
        description:
          "Progress through levels and unlock more advanced and rewarding quests.",
        icon: "tabler:lock-open",
      },
      {
        title: "Influence AI ",
        description:
          "Have a direct impact on AI development, promoting Responsible AI and ensuring AI safety.",
        icon: "tabler:rocket",
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Mission"
    title="Empowering Humans Intelligence to Build, Guide, and Harness AI."
    items={[
      {
        title: "Data Labeling",
        description:
          "Help train AI by labeling data accurately and efficiently.",
      },
      {
        title: "Data Annotation",
        description:
          "Annotate data to improve AI understanding and performance.",
      },
      {
        title: "Data Curation",
        description:
          "Curate high-quality data sets essential for training robust AI models.",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
      alt: "Colorful Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Build AI
      </h3>
      Contribute your expertise in data labeling to train advanced AI systems.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: "Rate AI Responses",
        description: "Evaluate the responses of language models to improve their accuracy and reliability.",
      },
      {
        title: "Provide Feedback",
        description:
          "Thumb up or down to help refine AI behavior and outputs.",
      },
      {
        title: "Preference Voting",
        description:
          "Choose the best response from multiple AI-generated options.",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80",
      alt: "Blueprint Image",
    }}
  >

    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Evaluate AI
      </h3>
      Provide crucial feedback for evaluating and improving AI performance.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: "Identify AI vs. Human Content",
        description:
          "Help distinguish between AI-generated and human-generated content.",
      },
      {
        title: "Assess Harmfulness",
        description:
          "Evaluate content for potential harm and provide feedback for safer AI.",
      },
      {
        title: "Shape AI's Future",
        description:
          "Share your vision and preferences to guide the development of AI technologies.",
      },
    ]}
    image={{
      src: "https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
      alt: "Astronauts Image",
    }}
  >
  
   <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Harness AI
      </h3>
      Contribute your opinions to Responsible AI and AI safety. Eventually, AI serves human beings.
    </Fragment>


    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  

  