---
import Layout from "../../layouts/PageLayout.astro";

import Hero from "../../components/widgets/Hero.astro";
import Features from "../../components/widgets/Features.astro";
import Content from "../../components/widgets/Content.astro";
import Features2 from "../../components/widgets/Features2.astro";
import Steps from "../../components/widgets/Steps.astro";
import FAQs from "../../components/widgets/FAQs.astro";
import CallToAction from "../../components/widgets/CallToAction.astro";

const metadata = {
  title: "HiAI Platform",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: "~/assets/images/ai-platform.jpeg",
      alt: "HiAI Platform Hero Image",
    }}
  >
    <Fragment slot="title"> AI Platform</Fragment>

    <Fragment slot="subtitle">
      Build AI Systems with Cutting-Edge Infrastructure and Monetize AI Assets
      through a Decentralized Marketplace.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="What you can leverage as an AI Developer"
    subtitle=""
    items={[
      {
        title: "Build with Ease",
        description:
          "Build AI systems with intuitive no-code or low-code pre-built components.",
        icon: "tabler:components",
      },
      {
        title: "Evaluate with Insights",
        description:
          "Gain insights on how your systems perform and guidelines on how to improve with state-of-the-art frameworks.",
        icon: "tabler:layout-dashboard",
      },
      {
        title: "Deploy with Confidence",
        description:
          "Deploy your AI systems with cutting-edge infrastructure that supports ownership, scale, and efficiency.",
        icon: "tabler:cloud-upload",
      },
      {
        title: "Monetize with Transparency",
        description:
          "Earn from your AI assets — whether models, agents, or knowledge bases — through a decentralized marketplace.",
        icon: "tabler:share",
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title=""
    subtitle=""
    items={[
      {
        title: "Develop and Deploy",
        description:
          "Craft and fine-tune AI systems effortlessly using our intuitive drag-and-drop interface. From initial prototyping to full-scale deployment, our platform seamlessly supports the entire AI development lifecycle.",
      },
      {
        title: "Optimize Performance",
        description:
          "Leverage cutting-edge frameworks to continuously monitor and enhance your AI systems, ensuring peak performance and exceptional results.",
      },
    ]}
    image={{
      src: "~/assets/images/ai-platform-build.jpeg",
      alt: "AI Development Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Build
      </h3>
      Building AI has never been easier. Our no-code or low-code pre-built components
      allow you to swiftly assemble and customize AI models, transforming your innovative
      ideas into reality.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: "Unlock Revenue Streams",
        description:
          "Monetize various AI assets, including pre-trained models, AI agents, customized knowledge bases, and datasets, catering to diverse needs in the forefont of the AI industry.",
      },
      {
        title: "Maintain Full Ownership",
        description:
          "Set your own pricing and distribution methods for your AI assets. Retain control over how your creations are used and valued on blockchain.",
      },
    ]}
    image={{
      src: "~/assets/images/ai-platform-monetize.jpeg",
      alt: "AI Systems Image",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Monetize
      </h3>
      Transform your AI systems into profitable assets. Our decentralized marketplace
      enables you to earn from your AI assets with complete transparency and control.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    tagline=""
    title="Features Offered by AI Platform"
    subtitle=""
    items={[
      {
        title: "SDK & API",
        description:
          "Provide experienced developers with seamless integration and highly customized options.",
        icon: "tabler:tool",
      },
      {
        title: "Drag-and-Drop",
        description:
          "Empower AI enthusiasts and non-tech-savvy users with intuitive drag-and-drop interfaces and pre-built components.",
        icon: "tabler:drag-drop",
      },
      {
        title: "Community Collaboration",
        description:
          "Facilitate collaborative model training, fine-tuning, evaluation, and feedback within our community.",
        icon: "tabler:users",
      },
      {
        title: "High-Performance Infrastructure",
        description:
          "Leverage robust and scalable infrastructure for efficient training, deployment, and serving of AI systems.",
        icon: "tabler:cloud-upload",
      },
      {
        title: "Blockchain-Backed Ownership",
        description:
          "Transparent ownership backed by blockchain to ensure that you own your AI assets.",
        icon: "tabler:user-dollar",
      },
      {
        title: "Decentralized Marketplace",
        description:
          "We believe the economic benefits of AI should be accessible to everyone—from large enterprises to individuals. Contribute and earn in a fair, transparent, and decentralized marketplace.",
        icon: "tabler:shopping-cart-search",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
</Layout>
